<div class="posts">
  <% @posts.each do |post| %>
    <div class="postWrapper">
      <div class="post">
        <h2 class="title">
          <%= post.title %>
        </h2>
        <div class="postContent">
          <%=  BlueCloth.new(post.content).to_html.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>
