<div class="postWrapper">
  <div class="post">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <div class="postContent">
      <%=  BlueCloth.new(@post.content).to_html.html_safe %>
    </div>

    <div class="twoButtons">
      <div class="buttonContainer1"><%= link_to 'Edit', edit_post_path(@post), :class => "mainActionButton" %></div>
      <div class="buttonContainer2"><%= link_to 'Back', posts_path, :class => "mainActionButton" %></div>
    </div>
  </div>
</div>