<header>
  <div class="wrapper">
    <h1 class="title">Paul Benigeri</h1>


    <ul class="linkList">
      <li><%= link_to "Contact", "mailto:me@benigeri.com?subject=Hey", :class => "link mainActionButton" %>
      <li><a href="http://f.cl.ly/items/0i241A2J210x1x2a2n3M/Paul%20Benigeri%20CV%202012.pdf" class="link mainActionButton">CV</a></li>
      <li><a href="http://www.linkedin.com/pub/paul-benigeri/22/4a8/839" class="link mainActionButton">LinkedIn</a></li>
      <li><a href="https://github.com/benigeri" class="link mainActionButton">Github</a></li>
    </ul>
  </div>
</header>

